@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --color-dark: #050505;
  --color-page: #fff;
}

html,
body {
  cursor: default;
  font-smooth: antialiased;
  scroll-behavior: smooth;
  scroll-padding-block-start: 80px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
